<footer class="footer">
  <div class="row expanded callout secondary fixed no-margin">
    <div class="small-12 columns">
      <p class="links">
        <span class="copywrite">&copy;&nbsp;2015&nbsp;<span>WebGAP<span style="font-size: 11px">&nbsp;v0.1.0&nbsp;</span></span></span>
        <a href="/status">&nbsp;&nbsp;<%= __('menu.status') %></a>
        <a href="/help">&nbsp;&nbsp;<%= __('menu.help') %></a>
      </p>
    </div>
  </div>
</footer>
<script src="/js/vendor/jquery/jquery.min.js"></script>
<script src="/js/vendor/handlebars/handlebars.js"></script>
<script src="/js/vendor/alpaca/alpaca.min.js"></script>
<script src="/js/vendor/alpaca/custom.fields.js"></script>
<script src="/js/vendor/alpaca/bootstrap-multiselect.js"></script>
<script src="/js/vendor/ace/ace.js" type="text/javascript" charset="utf-8"></script>
<script src="/js/vendor/ace/mode-dockerfile.js" type="text/javascript" charset="utf-8"></script>
<script src="/js/vendor/ace/snippets/dockerfile.js" type="text/javascript" charset="utf-8"></script>
<script src="/js/vendor/ace/theme-github.js" type="text/javascript" charset="utf-8"></script>
<script src="/js/vendor/foundation/foundation.min.js"></script>
<script src="/js/vendor/jquery/jquery-shorten/jquery.shorten.js"></script>
<script src="/js/vendor/toastr/toastr.min.js"></script>
<script src="/js/main.js"></script>