<meta charset="utf-8" />
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>WebGAP</title>
<link rel="stylesheet" href="/css/vendor/foundation/foundation.min.css">
<link rel="stylesheet" href="/css/vendor/foundation/foundation-icons.css">
<link rel="stylesheet" href="/css/vendor/alpaca/alpaca.min.css">
<link rel="stylesheet" href="/css/vendor/toastr/toastr.min.css"/>
<link rel="stylesheet" href="/css/main.css">