
<div class="title-bar" data-responsive-toggle="mainMenu" data-hide-for="medium">
  <button class="menu-icon" type="button" data-toggle></button>
  <div class="title-bar-title">Menu</div>
</div>

<div class="top-bar" id="mainMenu">
  <div class="top-bar-left">
    <ul class="menu">
      <li>
        <a href="/">
          <img src="/img/webgap.png" height="34" width="34" alt="WebGAP">
        </a>
      </li>
      <li class="has-form">
        <div class="row collapse">
          <div class="large-8 small-9 columns">
            <input type="search" placeholder="Search everything...">
          </div>
          <div class="large-4 small-3 columns">
            <a href="#" class="success button expand">Search</a>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="top-bar-right" data-responsive-menu="accordion">
    <ul class="menu">
      <li>
        <a class="hollow success button expand" href="/notifications"><i class="fi-mail large"></i></a>
      </li>
      <li>
        <a class="hollow success button expand" href="/marketplace"><%= __('menu.marketplace') %></a>
      </li>
      <li>
        <a class="hollow success button expand" href="/account/workspace"><%= __('menu.account.workspace') %></a>
      </li>
      <li>
        <a class="hollow success button expand" href="/account/settings"><%= __('menu.account.settings') %></a>
      </li>
      <li>
        <a class="hollow success button expand" href="/auth/login"><%= __('menu.login') %></a>
      </li>
      <li>
        <a class="hollow success button expand" href="/auth/logout"><%= __('menu.logout') %></a>
      </li>
    </ul>
  </div>
</div>

