<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <% include layout/header.html %>
  </head>
  <body>
    <div id="menu">
      <% include layout/menu.html %>
    </div>
    <br/>
    <div id="main">
      <%- include(page) %>
    </div>
    <div id="footer">
      <% include layout/footer.html %>
    </div>
    <div id="notifications">
      <% include layout/notifications.html %>
    </div>
  </body>
</html>
