<span style="display: none" class="success-loaded"></span>

<span id="count" class="pull-left">[<%= notifications.length %>]&nbsp;Notifications</span>
<!--div class="pull-right">
  <a href="">Mark all as read</a>
</div-->
<% if (notifications && notifications.length>0) { %>
<% notifications.every(function(notification, index, array) { %>
<% if (index > 4) { %>
<% return false; %>
<% } %>
<a class="notification<% if (!notification.read) { %>notification-not-seen<% } %>" id="<%= notification.id %>">
  <span class="notification-item-image"><i class="fa fa-<%= notification.message.type %>"></i></span>
            <span class="notification-icon" title="<%= notification.message.text %>">
                <span class="notification-title"><%= notification.message.title %></span>
                <span class="notification-text"><%= filter.truncate([notification.message.text, 100]) %></span>
                <span class="notification-time"><i class="fa fa-clock-o"></i>&nbsp;<%= filter.formatTimeFromNow(notification.createDate) %></span>
            </span>
</a>
<% return true; %>
<% }); %>
<% } else { %>
<p class="notification-empty-text">Nothing to show!</p>
<% } %>
<a href="./page-notifications.html" class="notification-link">View All Notifications</a>
