<div data-alpaca-wizard-description="">

  <div class="row" data-alpaca-wizard-role="step" data-alpaca-wizard-step-title="Basics"
       data-alpaca-wizard-step-description="Basic Information">

    <div class="col-md-6">
      <div class="portlet">
        <div class="portlet-body">
          <div data-alpaca-layout-binding="name"></div>
          <div data-alpaca-layout-binding="version"></div>
          <div data-alpaca-layout-binding="category"></div>
          <div data-alpaca-layout-binding="description"></div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="portlet">
        <div class="portlet-body">
          <div data-alpaca-layout-binding="logo"></div>
          <div data-alpaca-layout-binding="tags"></div>
          <div data-alpaca-layout-binding="type"></div>
          <div data-alpaca-layout-binding="isShared"></div>
          <div data-alpaca-layout-binding="isManualDockerfile"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="row" data-alpaca-wizard-role="step" data-alpaca-wizard-step-title="Compilation"
       data-alpaca-wizard-step-description="Needs compilation? How to compile?">
    <div class="col-md-12">
      <div class="portlet">
        <div class="portlet-body">
          <div data-alpaca-layout-binding="dockerfile"></div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="portlet">
        <div class="portlet-body">
          <div data-alpaca-layout-binding="needsCompilation"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="row" data-alpaca-wizard-role="step" data-alpaca-wizard-step-title="Installation"
       data-alpaca-wizard-step-description="Need dependencies? How to install?">

  </div>

  <div class="row" data-alpaca-wizard-role="step" data-alpaca-wizard-step-title="Authorization"
       data-alpaca-wizard-step-description="Who can use it?">

  </div>

  <div class="row" data-alpaca-wizard-role="step" data-alpaca-wizard-step-title="Access"
       data-alpaca-wizard-step-description="How is it accessible?">
    <div class="col-md-8">
      <div class="portlet">
        <div class="portlet-body">
          <div data-alpaca-layout-binding="ssh"></div>
          <div data-alpaca-layout-binding="vnc"></div>
          <div data-alpaca-layout-binding="api"></div>
          <div data-alpaca-layout-binding="asy"></div>
        </div>
      </div>
    </div>
  </div>

</div>