<div class="row">
  <div class="medium-12 medium-2 columns">
    <div class="medium-6 columns" data-alpaca-layout-binding="name"></div>
    <div class="medium-6 columns" data-alpaca-layout-binding="email"></div>
  </div>
  <div class="medium-12 medium-2 columns">
    <div class="medium-6 columns" data-alpaca-layout-binding="photo"></div>
    <div class="medium-6 columns" data-alpaca-layout-binding="language"></div>
  </div>
</div>
