<div class="row">
  <div class="medium-12 columns">
    <div class="layout layout-stack-sm layout-main-left">
      <div class="col-sm-4 col-sm-push-8 layout-sidebar">
        <div class="well text-center">
          <p><i class="fa fa-question-circle fa-5x text-muted"></i></p>
          <h4>Have a Question?</h4>

          <p>Feel free to contact us <a href="/contact">email &raquo;</a>

          <h4>Need help?</h4>

          <p>Suggestions / Bug Report <a href="https://bitbucket.org/mcmartins/webgap/issues">here &raquo;</a></p>

          <% if (typeof user == 'undefined') { %>
          <p>Login using your provider account <a href="/auth/login">here &raquo;</a></p>
          <% } %>

          <p>Check our documentation <a href="/help">here &raquo;</a></p>
        </div>
      </div>

      <div class="col-sm-8 col-sm-pull-4 layout-main">
        <h3 class="content-title">
          <span>General Questions</span>
        </h3>

        <div id="accordion-help" class="panel-group accordion-simple">
          <div class="panel">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-help"
                   href="#faq-general-1"><i class="fa accordion-caret"></i><i
                        class="fa faq-accordion-caret"></i>What is GAP?</a>
              </h4>
            </div>
            <div id="faq-general-1" class="panel-collapse collapse">
              <div class="panel-body">
                <p>GAP is a system for computational discrete algebra, with particular emphasis on
                  Computational Group Theory.
                  GAP provides a programming language, a library of thousands of functions
                  implementing algebraic algorithms
                  written in the GAP language as well as large data libraries of algebraic
                  objects.</p>
              </div>
            </div>
          </div>
          <div class="panel">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-help"
                   href="#faq-general-2"><i class="fa accordion-caret"></i><i
                        class="fa faq-accordion-caret"></i>WebGAP?</a>
              </h4>
            </div>
            <div id="faq-general-2" class="panel-collapse collapse">
              <div class="panel-body">
                <p>WebGAP provides an web interface to interact with GAP. It provides an IDE with
                  code completion, snippets and error highlighting for GAP programming language and a
                  console to use GAP!
                  But you can do more! It is possible to use other applications available as services
                  through the marketplace.
                </p>
              </div>
            </div>
          </div>
          <div class="panel">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-help"
                   href="#faq-general-3"><i class="fa accordion-caret"></i><i
                        class="fa faq-accordion-caret"></i>How it works? What do I get?</a>
              </h4>
            </div>
            <div id="faq-general-3" class="panel-collapse collapse">
              <div class="panel-body">
                <p>Just login using one of our providers account. We will provide you an instance of GAP running with
                  low
                  resources (256MB) and an IDE for you to start coding with GAP.
                  You can use your own cloud storage to store your projects.</p>
              </div>
            </div>
          </div>
          <div class="panel">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-help"
                   href="#faq-general-4"><i class="fa accordion-caret"></i><i
                        class="fa faq-accordion-caret"></i>And then?</a>
              </h4>
            </div>
            <div id="faq-general-4" class="panel-collapse collapse">
              <div class="panel-body">
                <p>There are some nice features to come: new authentication providers, cloud storage support, sharing
                  features and more...</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
