<div class="row">
  <div class="medium-12 columns">
    <div class="layout layout-stack-sm layout-main-right">
      <div class="col-sm-3 layout-sidebar">
        <div class="nav-layout-sidebar-skip">
          <strong>Tab Navigation</strong>
        </div>
        <ul id="myTab" class="nav nav-layout-sidebar nav-stacked">
          <li class="active">
            <a href="#browser-mobile-tab" data-toggle="tab">
              <i class="fa fa-mobile"></i>
              &nbsp;&nbsp;Browser Support and Mobile Design
            </a>
          </li>
          <li>
            <a href="#IDE-tab" data-toggle="tab">
              <i class="fa fa-desktop"></i>
              &nbsp;&nbsp;GAP Language IDE
            </a>
          </li>
          <li>
            <a href="#market-tab" data-toggle="tab">
              <i class="fa fa-shopping-cart"></i>
              &nbsp;&nbsp;Marketplace
            </a>
          </li>
          <li>
            <a href="#sync-async-tab" data-toggle="tab">
              <i class="fa fa-random"></i>
              &nbsp;&nbsp;Synchronous and Asynchronous Orders
            </a>
          </li>
        </ul>
      </div>
      <div class="col-sm-9 layout-main">
        <div class="tab-content stacked-content">
          <div class="tab-pane fade in active" id="browser-mobile-tab">
            <h3 class="content-title">
              <span>Mobile First Design</span>
            </h3>

            <p>Would you like to be able to access your applications everywhere?</p>

            <p>WebGAP is designed to work on any mobile device.</p>

            <p>Using responsive layout it will adapt to any device you may be using, allowing you to work
              from anywhere.</p>

          </div>
          <div class="tab-pane fade" id="IDE-tab">
            <h3 class="content-title">
              <span>GAP Language IDE</span>
            </h3>

            <br>

            <p>Tired of programming GAP in a black & white environments? What about programming using an IDE
              full of snippets and error highlighting?</p>

            <p>The IDE will help you building code faster and detecting errors easily.</p>

          </div>
          <div class="tab-pane fade" id="market-tab">
            <h3 class="content-title">
              <span>Applications Market</span>
            </h3>

            <br>

            <p>What if you could use different tool in the same portal?</p>

            <p>The Applications Market allows you to select the Tool you want to use from a variety of software.</p>

          </div>
          <div class="tab-pane fade" id="sync-async-tab">
            <h3 class="content-title">
              <span>Synchronous and Asynchronous Orders</span>
            </h3>

            <br>

            <p>Running a tool that takes long time processing and wastes your personal computer resources?</p>

            <p>With WebGAP you can process asynchronously and get your results on your private cloud
              provider. The portal will notify you on finished tasks.</p>

          </div>

        </div>
      </div>
    </div>
  </div>
</div>
