<div class="landing-top">
  <div class="intro-text">
    <h2 class="content-title">Don't feel limited...</h2>
    <a class="hollow success button expand" href="/auth/login">Create an Account</a>
  </div>
</div>

<div class="landing-content">
  <div class="row">
    <div class="medium-12 columns">
      <div class="row">
        <p>
          Originally created for serving Algebra Tools through the web, WebGAP is a social work network.
          WebGAP provides an infrastructure for anyone who uses / builds tools.

          No registration forms! Just login using one of your trusted providers...
          Choose the applications of your interest...
          Work! Share! Collaborate!
        </p>
        <hr/>
      </div>
      <h3 class="content-title">
        <span>Do you want to share something with us?</span>
      </h3>

      <p>
        Feel free to contact us through the following <a href="mailto:info@webgap.eu">email &raquo;</a>
      </p>

      <p>
        Use our Issue Tracker: Suggestions / Bug Report <a
              href="https://github.com/webgap/portal/issues">here &raquo;</a>
      </p>
    </div>
  </div>
</div>
<div class="landing-bottom">
  <div class="small-12 medium-3 large-4 columns">
    <i class="fi-laptop"></i>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum maiores alias ea sunt facilis impedit fuga
      dignissimos illo quaerat iure in nobis id quos, eaque nostrum! Unde, voluptates suscipit repudiandae!</p>
  </div>
  <div class="small-12 medium-3 large-4 columns">
    <i class="fi-html5"></i>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit impedit consequuntur at! Amet sed itaque nostrum,
      distinctio eveniet odio, id ipsam fuga quam minima cumque nobis veniam voluptates deserunt!</p>
  </div>
  <div class="small-6 medium-3 large-2 columns">
    <h4>Work With Me</h4>
    <ul class="footer-links">
      <li><a href="#">What I Do</a></li>
      <li><a href="#">Pricing</a></li>
      <li><a href="#">Events</a></li>
      <li><a href="#">Blog</a></li>
      <li><a href="#">FAQ's</a></li>
    </ul>
  </div>
  <div class="small-6 medium-3 large-2 columns">
    <h4>Follow Me</h4>
    <ul class="footer-links">
      <li><a href="#">GitHub</a></li>
      <li><a href="#">Facebook</a></li>
      <li><a href="#">Twitter</a></li>
      <li><a href="#">Instagram</a></li>
      <li><a href="#">Dribbble</a></li>
    </ul>
  </div>
</div>
