<div class="row">
  <h2 class="masthead-subtitle">
    Terms and Conditions Agreement
  </h2>
  <hr/>
  
  <div class="large-12 columns">
    <h4>By accessing our website, you understand and agree to be bound by these website <a href="/terms">Terms of
      Service</a> and <a href="/disclaimer">Disclaimer</a>.</h4>
    <br/>

    <p>If you accept the conditions, please login using one of the following providers:</p>
    <br/>

    <div class="row medium-unstack">
      <% providers.forEach(function(provider) { %>
      <div class="medium-4 columns">
        <a class="<%= provider.name %> expanded hollow button" href="/auth/<%= provider.name %>">
          <i class="login fi-social-<%= provider.name %>"> </i>Sign in with <%= provider.name %>
        </a>
      </div>
      <% }); %>
    </div>
  </div>
</div>
