/* ==========================================================================
   Author's custom styles
   ========================================================================== */



input, textarea, select, button, a {
  border-radius: 0 !important;
}

a:hover {
  text-decoration: none !important;
}

a.disabled {
  pointer-events: none;
  cursor: default;
}

.footer, .masthead {
  box-shadow: none;
}


/* IDE and SHELL */
.ace_search {
  padding: 0 !important;
}

#editor, #shell {
  height: 550px !important;
  width: 100% !important;
  margin: 0 !important;
}

#statusBar, #toolbar {
  height: 25px !important;
  background-color: #ebebeb !important;
  color: #000 !important;
  padding-left: 40px !important;
  border: 1px solid #cccccc !important;
  margin-bottom: 1px !important;
  margin-top: 1px !important;
  cursor: pointer !important;
}

#toolbar {
  font-size: 18px !important;
}

#toolbar span:hover,
#toolbar span:focus,
#toolbar div:hover,
#toolbar div:focus {
  color: #428bca !important;
  background-color: #eee !important;
}

#toolbar span {
  margin: 0 0 0 10px !important;
}

#shell {
  border: 1px solid #ccc !important;
}

/**/

.help-block {
  font-size: 11px !important;
  display: inline !important;
}

.well {
  /*border: none !important;*/
  box-shadow: none !important;
}

div.modal-dialog > .alert-warning > div.modal-body {
  background-color: #ffffff !important;
  color: #000000 !important;
  border-bottom-left-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
}

div.modal-dialog > .alert-danger > div.modal-body {
  background-color: #ffffff !important;
  color: #000000 !important;
  border-bottom-left-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
}

div.modal-dialog > .alert-success > div.modal-body {
  background-color: #ffffff !important;
  color: #000000 !important;
  border-bottom-left-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
}

div.modal-dialog > .alert-info > div.modal-body {
  background-color: #ffffff !important;
  color: #000000 !important;
  border-bottom-left-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
}

.thumbnail {
  text-align: center;
}

.label {
  padding: .1em .2em .1em;
}

.label-app {
  background-color: #e7e7e7;
  color: #000000;
}

.carousel-control.left,
.carousel-control.right {
  background-image: none;
  filter: none;
  background-repeat: no-repeat !important;
}

.ui-tooltip {
  position: inherit;
  max-width: 100%;
  -webkit-box-shadow: none;
  box-shadow: none;
}

body .ui-tooltip {
  border-width: thin;
}

.btn-google {
  color: #fff;
  background-color: #dd4b39;
  border-color: rgba(0, 0, 0, 0.2);
}

.btn-windowslive {
  color: #fff;
  background-color: #2672ec;
  border-color: rgba(0, 0, 0, 0.2);
}

.fa-windowslive:before {
  content: "\f17a"
}

.small-btn {
  width: 25px;
  margin-right: 2px;
  border: 1px solid;
}

.mainnav::after {
  background: none repeat-x !important;
}

.layout-sidebar {
  box-shadow: none !important;
}

.navbar {
  border-radius: 0;
}

.thumbnail {
  border-radius: 0;
}

.list-group-item:first-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.list-group-item:last-child {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.border {
  border: 1px solid;
}

.notification-not-seen {
  background-color: #f8f8f8;
}

.noticebar {
  margin-right: 10px !important;
}

.toast-top-center {
  top: 60px;
  right: 0;
  width: 100%;
}

#toast-container.toast-bottom-center > div, #toast-container.toast-top-center > div {
  width: 40%;
}

div .alpaca-top {
  border-left: 1px solid #e7e7e7 !important;
  border-right: 1px solid #e7e7e7 !important;
  border-top: 1px solid #e7e7e7 !important;
}

.alpaca-field-object {
  border-radius: 0;
}

.alpaca-field-array {
  border-radius: 0;
}

.alpaca-form-buttons-container {
  background-color: #f8f8f8;
  border: 1px solid #e7e7e7;
  text-align: left;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.alpaca-wizard-buttons {
  border: 1px solid #e7e7e7;
  margin-top: 0 !important;
  margin-bottom: 0;
  padding-right: 15px;
  padding-left: 15px;
  background-color: rgb(252, 252, 252);
}

.navbar-default {
  background-color: rgb(252, 252, 252);
}

.alpaca-form-buttons-container > button, .alpaca-wizard-buttons > div > button {
  margin-top: 10px;
  margin-bottom: 10px;
}

.alpaca-image-display > img {
  max-width: 100px;
  max-height: 100px;
}

.portlet-title, .content-title {
  margin-bottom: 10px;
}

.thumbnail-h {
  display: table;
  border: 1px solid #dbdbdb;
  margin-bottom: 10px;
  width: 100%
}

.thumbnail-h-logo {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100px;
}

.thumbnail-h-desc {
  display: table-cell;
  text-align: center;
  text-transform: capitalize;
  vertical-align: middle;
  padding-right: 5px;
  width: 220px;
}

.thumbnail-h-action {
  display: table-cell;
  text-align: left;
  vertical-align: middle;
  padding-right: 5px;
}

.loader {
  position: absolute;
  left: 40%;
  top: 40%;
}

/** override .portlet-title u for deprecation */
.portlet-title span, .content-title span {
  display: inline-block;
  position: relative;
  top: 1px;
  padding-right: 1em;
  padding-bottom: 15px;
  text-decoration: none;
  border-bottom: 1px solid #428bca;
}

.portlet-title, .content-title {
  border-bottom: 0;
}

.portlet {
  margin-bottom: 10px;
}

.social-stats {
  padding-right: 10px;
}

.right {
  float: right;
}

.left {
  float: left;
}

.center {
  text-align: center;
}

.list-group-item-text {
  font-size: 10px;
}

.navbar-inverse .navbar-toggle {
  font-size: 27px;
}

.profile-avatar {
  min-height: 147px;
  min-width: 147px;
  vertical-align: middle;
  text-align: center;
}

.market-application:hover, .thumbnail-h:hover{
  -webkit-box-shadow: 6px 6px 0 -2px rgba(248,248,248,0.9);
  -moz-box-shadow: 6px 6px 0 -2px rgba(248,248,248,0.9);
  box-shadow: 6px 6px 0 -2px rgba(248,248,248,0.9);
}