/*
==========================================================================
   Author's custom styles
==========================================================================
*/

.top-bar,
.top-bar ul,
.title-bar {
    background-color: #394864;
}

.top-bar input {
    width: 100%;
    margin-right: 0;
}

[type="text"], [type="password"],
[type="date"], [type="datetime"],
[type="datetime-local"], [type="month"],
[type="week"], [type="email"], [type="number"],
[type="search"], [type="tel"], [type="time"],
[type="url"], [type="color"], textarea {
    margin: 0 0 0.5rem;
    height: 2.575rem;
}

#notifications {
    display: none;
}

.loader {
    text-align: center;
}

.profile-avatar {
    width: 48px;
    height: 48px;
}

.no-margin {
    margin: 0;
}

.box {
    border-radius: 3px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    padding: 10px 25px;
    display: block;
    margin-top: 60px;
}

.box-icon {
    background-color: #889994;
    border-radius: 50%;
    display: table;
    height: 75px;
    width: 75px;
    margin: -61px auto 0;
    font-size: 3rem;
}

.box-icon span {
    color: #fff;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.info {
    text-align: center;
}

.info h4 {
    font-size: 26px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.info p {
    color: #717171;
    font-size: 16px;
    padding-top: 10px;
}

.info a {
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    transition: all 0.5s ease 0s;
}

.info a:hover {
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.12);
    transition: all 0.5s ease 0s;
}

#form {
    border: 1px solid #e7e7e7;
}

.alpaca-wizard-buttons {
    border-bottom: 1px solid #e7e7e7;
    border-left: 1px solid #e7e7e7;
    border-right: 1px solid #e7e7e7;
    padding: 10px 10px 0;;
    background-color: rgb(252, 252, 252);
}

.login {
    font-size: 30px !important;
    vertical-align: middle !important;
}

.button.follow {
    font-size: 1.19rem;
}

.alpaca-image-display {
    display: inline-flex;
    text-align: center;
    vertical-align: middle;
    margin: 0 0 5px;
}

.alpaca-image-display > img {
    width: 48px;
    height: 48px;
}

.alpaca-image-display > h5 {
    display: none;
}

.alpaca-message {
    color: #8a8a8a;
    background-color: #f8d5d8;
    line-height: 1.4;
    margin-bottom: 0.5rem;
}

.information-message {
    background-color: #FAFAFA;
    border: 1px solid #cacaca;
    padding: 4px;
}

.callout {
    border: 1px solid #e7e7e7;
}

.input-group-button a, .input-group-button button, .input-group-button input, fieldset {
    margin: 0 1rem 1rem 0;
}