<% include ../common/header.html %>

<div class="jumbotron">
    <h2>Accounts Management</h2>
    <h3><span class="image-with-margin"><%= account.length %></span>account(s) available</h3>
</div>

<div class="container">
    <div class="list-group">
        <% accounts.forEach(function(account) { %>
        <h4><span class="glyphicon glyphicon-user image-with-margin"></span><%= account.email %>
            <span class="glyphicon glyphicon-pencil image-with-margin" style="float: right;"></span></h4>
        <p><strong class="image-with-margin">Description:</strong><%= account.description %><strong class="image-with-margin">RAM:</strong><%= account.ram %><strong class="image-with-margin">SPACE:</strong><%= account.space %></p>
        <% }); %>
    </div>
</div>

<% include ../common/footer.html %>