<% include ../common/header.html %>

<div class="jumbotron">
    <h2>Configurations</h2>
    <h4>This is the list of all the configurations shared among all the systems. <br/>Changes made here will apply only to the Portal!</h4>
</div>

<div class="container">
    <div id="id" class="list-group" style="white-space: pre; font-family: monospace;">
        <h4><span class="glyphicon glyphicon-pencil image-with-margin" style="float: right;"></span></h4>
        <script>
            var html = "";
            Object.getOwnPropertyNames(JSON.parse('<%- configurations %>')).forEach(function (val, idx, array) {
                html += "<p><span class='image-with-margin'>" + val + "</span>" + JSON.stringify(JSON.parse('<%- configurations %>')[val], null, 4) + "</p>";
            });
            $("#id").append(html)
        </script>
    </div>
</div>

<% include ../common/footer.html %>