<% include ../common/header.html %>

<div class="jumbotron">
    <h2>Node Statistics</h2>

    <h3><span id="nodeCount" class="image-with-margin">0</span>node(s) available</h3>
</div>

<div class="container">
    <div id="stats" class="row marketing">
        <% stats.forEach(function(stat) { %>
        <div class="bs-callout-stats bs-callout-' + stat.STATUS + '">
            <h4><span class="glyphicon glyphicon-cloud image-with-margin"></span><%= stat.NODE.NAME %></h4>

            <p><strong>Platform: </strong><%= stat.PLATFORM.PLATFORM %><br/><strong>Address: </strong><%= stat.NODE.HOST %>
            </p>

            <p><strong>Server Uptime: </strong><%= stat.PLATFORM.UP_TIME %><br/><strong>Process
                Uptime: </strong><%= stat.PLATFORM.PROCESS_UP_TIME %></p>

            <p><strong>Total Memory: </strong><%= stat.MEMORY.TOTAL %><br/><strong>Free
                Memory: </strong><%= stat.MEMORY.FREE %> ( <%= stat.MEMORY.FREE_PERCENTAGE %> )</p>

            <p><strong>Load Average: </strong><%= stat.CPU.LOAD_AVERAGE %><br/><strong>Number of CPU
                core(s): </strong><%= stat.CPU.CPU_COUNT %></p>

            <p><strong>GAP Console(s): </strong><%= stat.PLATFORM.GAP_COUNT %></p>
        </div>
        <% }); %>
    </div>
</div>

<% include ../common/footer.html %>