<% include ../common/header.html %>

<div class="jumbotron">
    <h2>Users Management</h2>
    <h3><span class="image-with-margin"><%= users.length %></span>user(s) available</h3>
</div>

<div class="container">
        <div class="list-group">
            <% users.forEach(function(user) { %>
            <h4><span class="glyphicon glyphicon-user image-with-margin"></span><%= user.name %>
                <span class="glyphicon glyphicon-pencil image-with-margin" style="float: right;"></span></h4>
            <p><%= user.email %></p>
            <% }); %>
        </div>
</div>

<% include ../common/footer.html %>