<div id="form"></div>
<div class="alpaca-wizard-buttons">
  <a id="submit" href="/" class="button hollow">Submit</a>
  <a id="cancel" href="/" class="button hollow">Cancel</a>
</div>
<div style="clear:both"></div>
<script>

  function initializeAlpaca() {
    var alpaca = undefined;

    $('#form').alpaca({
      "data": '<%- form.data %>',
      "schemaSource": '<%- form.schema %>',
      "optionsSource": '<%- form.options %>',
      "viewSource": '<%- form.view %>',
      "postRender": function (control) {
        alpaca = control;
        // remove submit from alpaca form in order to ensure only 1 custom submit button
        $('*[data-alpaca-wizard-button-key="submit"]').remove();
      }
    });

    $('#submit').on('click', function () {
      alpaca.refreshValidationState(true);
      if (!alpaca.isValid(true)) {
        return false;
      } else {
        $.post('<%= form.action %>', alpaca.getValue());
      }
    });
  }

  window.onload = initializeAlpaca;

</script>
