<div class="row">
  <div class="callout large warning">
    <h4><%= data %></h4>
    <p>There was a problem serving the requested page.</p>
    <ul class="no-bullet">
      <li><p class="lead">What should I do:</p>
        <ul>
          <li>
            if you entered the url by hand, double check that it is correct
          </li>
        </ul>
    </ul>
  </div>
</div>
