<div class="row">
  <div class="callout large alert">
    <h4><%= data %></h4>
    <p>There was a problem serving the requested page.</p>
    <ul class="no-bullet">
      <li><p class="lead">What should I do:</p>
        <ul>
          <li>
            you can try refreshing the page, the problem may be temporary
          </li>
          <li>
            if you entered the url by hand, double check that it is correct
          </li>
          <li>
            nothing! we've been notified of the problem and will do our best to make sure it doesn't happen
            again!
          </li>
        </ul>
    </ul>
  </div>
</div>
