<header class="navbar navbar-inverse" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <i class="fa fa-cog"></i>
      </button>
      <a href="/" class="navbar-brand navbar-brand-img" style="padding-top: 10px">
        <img src="/img/webgap.png" height="37" alt="WebGAP">
      </a>
    </div>
    <nav class="collapse navbar-collapse" role="navigation">
      <ul class="nav navbar-nav navbar-right">
        <% if (typeof user == 'undefined') { %>
        <li class="<% if (url == '/features') { %>active<% } %>">
          <a href="/features">Features</a>
        </li>
        <li class="<% if (url == '/faq') { %>active<% } %>">
          <a href="/faq">FAQ</a>
        </li>
        <li class="<% if (url == '/contact') { %>active<% } %>">
          <a href="/contact">Contacts</a>
        </li>
        <li class="<% if (url == '/auth') { %>active<% } %>">
          <a href="/auth/login">
            <i class="fa fa-sign-in"></i>
            &nbsp;&nbsp;<%= filter.i18n('menu.login') %></a>
        </li>
        <% } else { %>
        <li class="<% if (url.indexOf('marketplace')>-1) { %>active<% } %>">
          <a href="/marketplace"><i class="fa fa-shopping-cart"></i>&nbsp;&nbsp;<%= filter.i18n('menu.marketplace') %></a>
        </li>
        <li class="<% if (url.indexOf('service')>-1) { %>active<% } %>">
          <a href="/account/workspace"><%= filter.i18n('menu.workspace') %>&nbsp;</a>
        </li>
        <% if (user.roles.some(function(element) {return 'admin'.indexOf(element) > -1})) { %>
        <li class="dropdown <% if (url.indexOf('dashboard')>-1) { %>active<% } %>">
          <a href="" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">
            <%= filter.i18n('menu.admin') %>&nbsp;
            <i class="fa fa-caret-down"></i>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li>
              <a href="/admin/dashboard">
                &nbsp;&nbsp;<%= filter.i18n('menu.dashboard') %>
              </a>
            </li>
            <li>
              <a href="/admin/configurations">
                &nbsp;&nbsp;<%= filter.i18n('menu.configurations') %>
              </a>
            </li>
          </ul>
        </li>
        <% } %>
        <li class="dropdown navbar-profile <% if (url.indexOf('account')>-1) { %> active <% } %>">
          <a href="" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">
            <span><%= user.name %></span>&nbsp;
            <i class="fa fa-caret-down"></i>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li>
              <a href="/account/profile">
                <i class="fa fa-user"></i>
                &nbsp;&nbsp;<%= filter.i18n('menu.profile') %>
              </a>
            </li>
            <li>
              <a href="/account/settings">
                <i class="fa fa-cogs"></i>
                &nbsp;&nbsp;<%= filter.i18n('menu.settings') %>
              </a>
            </li>
            <li class="divider"></li>
            <li>
              <a href="/auth/logout">
                <i class="fa fa-sign-out"></i>
                &nbsp;&nbsp;<%= filter.i18n('menu.logout') %>
              </a>
            </li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav noticebar navbar-right">
        <li class="dropdown navbar-notification">
          <a id="notifications" href="" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-inbox"></i>
            <span class="navbar-visible-collapsed">&nbsp;&nbsp;<%= filter.i18n('menu.notifications') %></span>
            <span id="notificationsCount" class="badge badge-primary"></span>
          </a>
          <div class="dropdown-menu">
            <div class="dropdown-header">&nbsp;Notifications</div>
            <div id="notificationsMenu" class="notification-list"></div>
          </div>
        </li>
      </ul>
      <% } %>
    </nav>
  </div>
</header>
