<div class="row">
  <div class="medium-12 columns float-right">
    <div class="float-right">
      <p class="lead">
        <%= applications.length %> results found for <span style="background-color: #f8d5d8 ;border-bottom: 1px solid"><% if (!query) { %>marketplace<% } else { %><%= query %><% } %></span>
      </p>
    </div>
  </div>

  <br/>

  <div class="medium-12 columns">
    <% if (applications.length > 0) { %>
    <% applications.forEach(function(app) { %>
    <div class="medium-3 text-center">
      <div class="callout">
        <p><%= app.name %>&nbsp;<span style="font-size: 75%">Version <%= app.version %></span></p>
        <p>
          <i class="fi-star"><span>&nbsp;<%= app.stars %></span></i>
        </p>
        <p><img style="width: 100px; margin-bottom: 25px;"
                src="<% if (app.logo) { %><%= app.logo %><% } else { %>/img/webgap.png<% } %>"/></p>
        <p class="lead"><%= app.type %> | Managed by <%= app.owner.name %></p>
        <p class="subheader"><%= app.description %></p>
        <div class="medium-12 columns">
          <% app.tags.forEach(function(tag) { %>
          <span class="label "><%= formatter.truncate(tag, 15) %></span>
          <% }); %>
          <% app.category.forEach(function(category) { %>
          <div class="label "><%= formatter.truncate(category, 15) %></div>
          <% }); %>
        </div>
      </div>
    </div>
    <% }); %>
    <% } else { %>
    <div class="center">
      <h3 class="subheader">Nothing matches your search...</h3>
    </div>
    <% } %>
  </div>

  <div class="medium-12 columns">
    <a class="button hollow expanded">Load More</a>
  </div>
</div>
<script>
  // shorten all descriptions
  $('.description').shorten({
    showChars: '200'
  });
  // shorten tags and categories
  $('.tags').shorten({
    showChars: '500'
  });
</script>
