<div class="row">
  <h2>Marketplace</h2>
  <hr/>

  <div class="row">
    <div class="medium-7 large-6 columns">
      <h3>Close Your Eyes and Open Your Mind</h3>
      <p class="subheader">There is beauty in space, and it is orderly. There is no weather, and there is regularity. It
        is predictable. Everything in space obeys the laws of physics. If you know these laws, and obey them, space will
        treat you kindly.</p>
      <% if (authorizator.hasAccess(user, ['ADMIN', 'PROVIDER'])) { %>
      <a class="button hollow" href="/marketplace/applications/new">
        Add application
      </a>
      <% } %>
    </div>
    <div class="medium-5 large-6 columns">
      <div class="callout">
        <p>Find Applications</p>
        <div class="input-group">
          <input type="search" class="input-group-field" id="searchField" placeholder="Search applications...">
          <div class="input-group-button">
            <button id="searchBtn" class="button hollow">Search</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr/>

  <div class="row">
    <div class="medium-12 columns">
      <img id="loader" class="loader" src="/img/ajax-loader.gif" style="display: none"/>
      <div id="search-results"></div>
    </div>
  </div>
</div>

<script>

  function initializeSearch() {
    $('#searchField').on('keyup', function (e) {
      if (e.keyCode === 13) {
        search($(this).val());
      }
    });
    $('#searchBtn').on('click', function (e) {
      search($('#searchField').val());
    });
    function search(query) {
      $("#search-results").html('');
      $.get('/marketplace/applications/list?q=' + query, function (data) {
        $("#search-results").html(data);
      });
    }

    $.ajaxSetup({
      beforeSend: function () {
        $('#loader').show();
      },
      complete: function () {
        $('#loader').hide();
      }
    });
  }

  window.onload = initializeSearch;

</script>

