<div class="row" style="margin: 0; padding: 0; background-color: #000000">
  <div class="tab-pane fade in active" id="terminal-tab">
    <img id="loader" class="loader" src="/img/ajax-loader.gif" alt="loading, please wait..."/>
    <iframe id="shell" style="overflow:hidden; clear:both; background-color: #000000"
        scrolling="no" src="<%=: terminalUrl %>"></iframe>
  </div>
</div>

<script>

  function beforeExitMessage() {
    return "The workspace session will be closed if you leave this page. Are you sure you want to leave?";
  }
  
  $(document).ready(function () {
    $('#shell').on('load', function () {
      $('#loader').hide();
    });
  });
  
  window.onbeforeunload = beforeExitMessage;
</script>
