<% include ../../common/header.html %>

<div class="content">
    <div class="container">
        <div class="layout layout-main-right layout-stack-sm">
            <div class="col-md-2 col-sm-2 layout-sidebar">
                <div class="nav-layout-sidebar-skip"><strong>Tab Navigation</strong> / <a href="#workspace-content">Skip
                    to Content</a></div>
                <ul id="workspace-tabs" class="nav nav-layout-sidebar nav-stacked">
                    <li class="active"><a href="#bashboard-tab" data-toggle="tab">
                        <i class="fa fa-user"></i> &nbsp;&nbsp;Dashboard</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-9 col-sm-8 layout-main">
                <div id="workspace-content" class="tab-content stacked-content">
                    <div class="tab-pane fade in active" id="bashboard-tab">
                        <h3 class="content-title"><u>Dashboard</u></h3>

                        <p>Here you can update your personal information. </br></br> <strong>IMPORTANT:</strong> Please
                            keep your email address updated.</p> <br>
                        <a href="javascript:createNewTab('teste','')">add tab</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    window.onbeforeunload = function () {
        return "The workspace will be closed. " +
                "All opened sessions will be closed and you might lose your work. ";
    };

    function canAddMoreTabs() {
        return $('#workspace-tabs').children().length < 5;
    }

    function createNewTab(tabName, pageToLoad) {
        if (canAddMoreTabs()) {
            $('#workspace-tabs').append('<li>' +
            '<a href="#' + tabName + '-tab" data-toggle="tab"><i class="fa fa-user"></i>&nbsp;&nbsp;' + tabName + '&nbsp;&nbsp;x</a>' +
            '</li>');
            $('#workspace-content').append('<div class="tab-pane fade" id="' + tabName + '-tab">' +
            '<h3 class="content-title"><u>' + tabName + '</u></h3>' +
            '<p>Here you can update your personal information.</p> ' +
            '</div>');
        }
    }
</script>

<% include ../../common/footer.html %>