<div class="row">
  <a class="follow button hollow float-right no-margin" href="javascript:;">Follow</a>
  <ul class="tabs" data-tabs id="profile-tabs">
    <li class="tabs-title is-active">
      <a aria-selected="true" href="#profile">Profile</a>
    </li>
    <li class="tabs-title">
      <a href="#activity">Activity</a>
    </li>

    <li class="tabs-title">
      <a href="#applications">Applications</a>
    </li>
  </ul>
  <div class="tabs-content" data-tabs-content="profile-tabs">
    <div id="profile" class="tabs-panel is-active">
      <div class="row">
        <div class="row">
          <div class="text-center">
            <img src="<% if (profile.photo) { %><%= profile.photo %><% } else { %>/img/webgap.png<%}%>"
                 class="profile-avatar" alt="Profile Image">
            <h4 class="center"><%= profile.name %></h4>
            <p class="subheader">Joined <%= formatter.dateFromNow(profile.account.startDate) %></p>
          </div>
        </div>
        <hr/>
        <div class="small-4 columns">
          <h4>Account</h4>
          <p>Applications: <%= profile.applications.length %></p>
          <h4>Contacts</h4>
          <p><%= formatter.ND(profile.email) %></p>
        </div>
        <div class="small-4 columns">
          <h4>Organisations</h4>
          <p><%= formatter.ND(profile.organisations) %></p>
          <h4>Groups</h4>
          <p><%= formatter.ND(profile.groups) %></p>
        </div>
        <div class="small-4 small-4 columns">
          <h4>Social</h4>
          <div class="small-4 columns">
            <p>Followers</p>
            <div class="stat">128</div>
          </div>
          <div class="small-4 columns">
            <p>Starred</p>
            <div class="stat">12</div>
          </div>
          <div class="small-4 columns">
            <p>Following</p>
            <div class="stat">18</div>
          </div>
        </div>
      </div>
    </div>
    <div id="activity" class="tabs-panel">
      <div class="text-center">
        <% if (profile.activity && profile.activity.length>0) { %>
        <div class="center">
          <h3 class="subheader">Todo</h3>
          <br/>
          <a class="button hollow" href="/marketplace">Marketplace</a>

          <p class="subheader">Visit the Marketplace. Pick an application or create a new one.</p>
        </div>
        <% } else { %>
        <div class="center">
          <h3 class="subheader">No recent activity to show</h3>
          <br/>
          <a class="button hollow" href="/marketplace">Marketplace</a>

          <p class="subheader">Visit the Marketplace. Pick an application or create a new one.</p>
        </div>
        <% } %>
      </div>
    </div>
    <div id="applications" class="tabs-panel">
      <div>
        <!--p><%= profile.applications.length %> Applications</p-->

        <div class="text-center">
          <% if (applications && applications.length>0) { %>
          <% applications.forEach(function(application) { %>
          <div class="thumbnail-h">
            <div class="thumbnail-h-logo">
              <% if (application.logo) { %>
              <img style="width: 48px; height:48px;" src="<%= application.logo %>"/>
              <% } else { %>
              <i style="font-size:48px;" class="fa fa-terminal"></i>
              <% } %>
            </div>
            <div class="thumbnail-h-desc">
              <b><%= application.name %></b> v<%= application.version %> (<%= application.access %>)
            </div>
            <div class="thumbnail-h-action">
              <a class="btn btn-default btn-xs" title="Execute Service"
                 href="/service/sync/<%= application.name %>">
                execute service
              </a>
              <a class="btn btn-default btn-xs" title="Remove Service"
                 href="/service/sync/<%= application.name %>">
                remove
              </a>
            </div>
          </div>
          <% }); %>
          <% } else { %>
          <div class="center">
            <h3 class="subheader">No applications to show</h3>
            <br/>
            <a class="button hollow" href="/marketplace">Marketplace</a>

            <p class="subheader">Visit the Marketplace. Pick an application or create a new one.</p>
          </div>
          <% } %>
        </div>
      </div>
    </div>
  </div>
</div>
