<div class="row">
  <ul class="tabs" data-tabs id="settings-tabs">
    <li class="tabs-title is-active"><a href="#profile-tab" data-toggle="tab"> <i class="fa fa-user"></i> &nbsp;&nbsp;Profile
      Settings </a></li>
    <li class="tabs-title"><a href="#accounts-tab" data-toggle="tab"> <i class="fa fa-puzzle-piece"></i> &nbsp;&nbsp;Linked
      Accounts </a></li>
  </ul>
  <div class="tabs-content" data-tabs-content="settings-tabs">
    <div class="tabs-panel is-active" id="profile-tab">
      <h3>Profile</h3>
      <hr/>
      <p>Here you can update your personal information. <br/><br/> <strong>IMPORTANT:</strong> Please
        keep your email address updated.</p> <br>
      <!-- Include automatic form -->
      <% include ../form/alpaca.html %>
      <br/>
      <h3>API Token</h3>
      <hr/>
      <p>Your API token is useful for you to build your own scripts to access WebGAP.</p> <br>
      <div class="callout">
        <p>Your current Access Token is:</p>
        <p class="lead information-message"><%= user.token %></p>
        <a class="button hollow" title="Revoke and Regenerate" href="/account/token/regenerate">
          Regenerate
        </a>
      </div>
    </div>
    <div class="tabs-panel" id="accounts-tab">
      <h3>Linked Accounts</h3>
      <hr/>
      <p>Here you can add / revoke access to you social accounts. <br/><br/>
        <strong>IMPORTANT:</strong> Social accounts are used along with you applications, revoking
        access will prevent some applications from working.</p>
      <!-- TODO this should be added to a new html file -->
      <div class="row">
        <% providers.forEach(function(provider) { %>
        <div class="medium-4 columns">
          <div class="box">
            <div class="box-icon">
              <span class="fi-social-<%= provider.name %>"></span>
            </div>
            <div class="info">
              <p><%= provider.name %></p>
              <% if (user.identities.some(function(el) { return el.provider == provider.name
              && provider.cloudStorage; })) { %>
              <span class="fi-cloud large" title="Is a supported cloud provider"></span>
              <% }; %>
            </div>
            <hr/>
            <div class="row">
              <% if (user.identities.some(function(el) { return el.provider == provider.name;
              })){ %>
              <a class="button small hollow" title="Unlink your <%= provider.name %> account"
                 href="/auth/revoke/<%= provider.name %>">
                Unlink your <%= provider.name %> account
              </a>
              <% } else { %>
              <a class="button small hollow" title="Connect your <%= provider.name %> account"
                 href="/auth/<%= provider.name %>">
                Connect your <%= provider.name %> account
              </a>
              <% }; %>
              <% if (user.identities.some(function(el) { return el.provider == provider.name
              &&
              provider.cloudStorage; })) { %>
              <a class="button small hollow" title="Make <%= provider.name %> your default cloud provider"
                 href="/account/cloud-provider/<%= provider.name %>">
                Make <%= provider.name %> your default cloud provider
              </a>
              <% }; %>
            </div>
          </div>
        </div>
        <% }); %>
      </div>
    </div>
  </div>
</div>